h1,p {
color: cornsilk;

}
.input_area {
    width: 100%; /* largura*/
    display:flex; /* exibiçao*/
    align-items:center; /*itens de alinhamento*/
    justify-content: space-between; /* justrificar conteudo*/
}
input {
    height: 1.5em ; /*altura*/

}


textarea
{
    width: 100%;/*largura*/
    margin-top: 2em;/*margem superior */
    border-radius: 0.5em; /*raio da borda*/
    
    
}
.container {
    background-color: rgba(0, 0, 0, 0.979); /* cor de fundo*/
    display:inline-flex;
    padding: 1.5em; /*preenchimento*/
    border-radius: 0.5em; /*raio da borda*/
    flex-direction: column;
    align-items: center;
    width: 20em; /*largura*/
}
.area{
    display: flex;
    justify-content: center;
}
button {
    height: 3em; /*altura*/
    width: 100%;/*largura*/
    background-color: #ff9500;/* cor de fundo*/
    border:none;
    color: white;
    
    
}
button:hover {
    cursor: pointer;
}
